@charset "utf-8";
/* CSS Document */

#certify {
	position: relative;
	width: 1200px;
	height: 700px;
	margin: 0 auto
}

#certify .swiper-container {
	padding-bottom: 60px;
}

#certify  .swiper-slide {
	width: 480px;
	height: 680px;
	background: #fff;
	box-shadow: 0 8px 30px #ddd;
	padding: 30px;
	box-sizing: border-box;
}
#certify  .swiper-slide img{
	display:block;
	width: 100%;
}
#certify  .swiper-slide h4 {
	border:1px solid #008C8C;
	border-radius: 20px;
	line-height: 40px;
	font-weight: 100;
	width:85%;
	margin: 20px auto 10px;
	color:#008C8C;
}
#certify  .swiper-slide p {
	text-align: center;
	line-height: 30px;
	color: #636363;
}

#certify .swiper-pagination {
	width: 100%;
	bottom: 20px;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;
	border: 3px solid #fff;
	background-color: #d5d5d5;
	width: 10px;
	height: 10px;
	opacity: 1;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
	border: 3px solid #00aadc;
	background-color: #fff;
}

#certify .swiper-button-prev{
	left:-50px;
}
#certify .swiper-button-next{
	right:-50px;
}
/* #certify .swiper-button-prev {
	left: -30px;
	width: 45px;
	height: 45px;
	background: url(../images/wm_button_icon.png) no-repeat;
	background-position: 0 0;
	background-size: 100%;
}

#certify .swiper-button-prev:hover {
	background-position: 0 -46px;
	background-size: 100%
}

#certify .swiper-button-next {
	right: -30px;
	width: 45px;
	height: 45px;
	background: url(../images/wm_button_icon.png) no-repeat;
	background-position: 0 -93px;
	background-size: 100%;
}

#certify .swiper-button-next:hover {
	background-position: 0 -139px;
	background-size: 100%
} */
