html, body {
  position: relative;
  height: 100%;
}
/* body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  min-width: 1300px;
} */
*{margin:0;}

li{
  list-style: none;
}


footer{
  width:100%;
  height: 600px;
  background: url('../images/footer.jpg');
  color:#fff;
}
.foot{
  width: 1300px;
  height: 500px;
  margin:auto;
  display: flex;
  font-size: 18px;
  line-height: 50px;
  justify-content: space-between;
}
.foot h3{
  padding: 50px 0 20px;
  font-size: 26px;
  font-weight: 100;
}
.foot .li1{
  width:300px;
  height: 500px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-right: 50px;
  line-height: 50px;
}
.foot a{
  color: #fff;
}
.foot .li2{
  width: 300px;
  /* margin-right: 50px; */
}
.foot .li2 img{
  /* width: 30px;
  height: 30px; */
  margin-right: 12px;
}
.foot .icon{
  float: right;
  margin-right: 30px;
}
.li-nav{
  display: flex;
  flex-direction: column;
  height: 320px;
  flex-wrap: wrap;
}
.li-nav li{
  width: 170px;
  display: flex;
  align-items: center;
}
.foot .li3{
  width: 340px;
  position: relative;
}
.foot .li3 .weixin{
  cursor: pointer;
}
.foot .li3 p{
  line-height: 30px;
}
.foot .li3 .map{
  width: 340px;
  margin-top: 20px;
}
.foot .li3 h4{
  font-size: 20px;
  font-weight: 100;
  line-height: 34px;
}
.foot .li3 .img{
  float: left;
  width: 36px;
  margin-right: 10px;
}
.foot .li3 .adderss{
  font-size: 16px;
}
footer .bottom{
  height: 100px;
  background: #161616;
  width: 100%;
  padding: 0 20%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .bottom img{
  width: 70px;
}






footer .li3 .contact img{
  margin: 0 20px 20px 0;
  cursor: pointer;
}
footer .li3 .erwei{
  width: 120px;
  height: 120px;
  padding:10px;
  border-radius: 5px;
  background: #b9b9b9;
  position: absolute;
  margin-left: -55px;
  display: none;
  top: -40px;
  right: -27px;
}

footer .li3 .img1:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #b9b9b9;
    position: absolute;
    bottom: -10px;
    left: 61px;
}
footer .li3 .img2{
  margin-left: -5px;
}
footer .li3 .img2:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #b9b9b9;
    position: absolute;
    bottom: -10px;
    left: 61px;
}
footer .li3 .erwei img{
  width: 100%;
}
